<script>
  import { opts } from "./constants";
  export let data;
  export let maxDur;

  /**
   * @param {String} numbOne
   * @param {String} numbTwo
   */
  function differenceMs(numbOne, numbTwo) {
    return (Number(numbTwo) - Number(numbOne)) / 1000;
  }
</script>

<details>
  <summary>All data</summary>
  {#each data as datum}
    <div class="level-item datum">
      <time>
        {new Date(Number(datum[0])).toLocaleTimeString("en-US", opts)}
      </time>
      <time>
        {new Date(Number(datum[1])).toLocaleTimeString("en-US", opts)}
      </time>
      <time>
        {#if differenceMs(datum[0], datum[1]) < maxDur}
          {differenceMs(datum[0], datum[1])} secs
        {:else if differenceMs(datum[0], datum[1]) > maxDur}
          {Math.floor(differenceMs(datum[0], datum[1]) / 60)} min {Math.round(
            differenceMs(datum[0], datum[1]) % 60
          )} secs
        {:else}
          ${Math.floor(differenceMs(datum[0], datum[1]) / 60)} min
        {/if}
      </time>
    </div>
  {/each}
</details>

<style>
    details {
      align-items: space-around;
    }

    div.datum {
      border-bottom: 1.5px double #000;
    }

    .level-item {
      justify-content: space-around;
    }
  </style>

