<script>
  import { disabled } from "./stores.js";
  export let type;
  export let action;
  export let id;
  export let style;
</script>

{#if id === 0}
  <button class="{style}" {id} disabled="{$disabled}" on:click={action}>
    {type}
  </button>
{:else}
  <button class="{style}" {id} on:click={action}>
    {type}
  </button>
{/if}

