<script>
  import AllContractions from "./AllContractions.svelte";
  export let timesArray;
  export let data;
  export let maxDur;
</script>

<div class="message-body p-2">
  <div class="level is-mobile">
    <div class="level-item">
      <p class="is-size-5">Start:</p>
    </div>
    <div class="level-item">
      <p class="is-size-5">End:</p>
    </div>
    <div class="level-item">
      <p class="is-size-5">Duration:</p>
    </div>
    <div class="level-item">
      <p class="is-size-5">5 min?</p>
    </div>
  </div>
  <div class="level data-wrapper">
    {#each data.plotData as datum}
      <div class="level-item datum">
        <time>
          {datum.start}
        </time>
        <time>
          {datum.end}
        </time>
        <time>
          {#if datum.duration < maxDur}
            {datum.duration} secs
          {:else if datum.duration > maxDur}
            {Math.floor(datum.duration / 60)} min {Math.round(datum.duration % 60)} secs
          {:else}
            ${Math.floor(datum.duration / 60)} min
          {/if}
        </time>
        <div>
          {#if datum.space === null}
            <i>&#x2205;</i>
          {:else if datum.space === 0}
            <i>&#x2400;</i>
          {:else if datum.space <= 300000 && datum.duration > maxDur}
            <i>&#x2713;</i>
          {:else}
            <i>&#x10102;</i>
          {/if}
        </div>
      </div>
    {/each}
    <AllContractions data={timesArray} {maxDur}/>
  </div>
</div>

<style>
  div.data-wrapper {
    align-items: space-around;
  }

  div.datum {
    border-bottom: 1.5px double #000;
  }

  .level-item {
    justify-content: space-around;
  }
</style>
