<script>
  import GoToHospital from "./GoToHospital.svelte";
  export let times;
</script>

<section class="columns">
  <div class="column p-0">
    <GoToHospital timesArray={times} />
  </div>
</section>
