<script>
  import calculateMetrics from "./calculateMetrics";
  import ContractionDetails from "./ContractionDetails.svelte";
  import ArticleSlot from "./ArticleSlot.svelte";
  export let timesArray;
  let maxDur = 59;
  let rev = false;
  let allData;
  let fiveOneOne = false;
  let almostFiveOneOne = false;
  let fiveOneOneArr = [];

  function generateTimesArray() {
    allData = calculateMetrics(timesArray);
    allData.plotData.forEach((item) => {
      if (item.space > 350000) {
        fiveOneOneArr = [];
      }
      if (item.duration > maxDur) {
        fiveOneOneArr.push(item);
      }
    });
    fiveOneOne = fiveOneOneArr.length >= 5;
    almostFiveOneOne = fiveOneOneArr.length >= 3 && fiveOneOneArr.length < 5;
  }

  $: if (timesArray.length > 0) {
    generateTimesArray();
  }

  function toggleRev() {
    allData.plotData = allData.plotData.reverse();
    rev = !rev;
  }
</script>

{#if timesArray?.length <= 0}
  <ArticleSlot />
{:else if fiveOneOne}
<ArticleSlot>
  <article class="message leave is-danger">
    <h2 class="message-header is-size-4">
      <em>Go to the hospital!!</em>
      <button class="button is-primary is-small" on:click={toggleRev}
        >{rev ? "New 1st" : "Old 1st "}</button
      >
    </h2>
    <ContractionDetails data={allData} {maxDur} {timesArray}/>
  </article>
  </ArticleSlot>
{:else if almostFiveOneOne}
<ArticleSlot>
<article class="message is-warning">
    <h2 class="message-header is-size-4">
      Start getting ready, 3 contractions down <button
        class="button is-primary is-small"
        on:click={toggleRev}>{rev ? "New 1st" : "Old 1st "}</button
      >
    </h2>
    <ContractionDetails data={allData} {maxDur} {timesArray}/>
  </article>
</ArticleSlot>
{:else}
<ArticleSlot>
  <article class="message is-primary">
    <h2 class="message-header is-size-4">
      Keep breathing! <button
        class="button is-primary is-small"
        on:click={toggleRev}>{rev ? "New 1st" : "Old 1st "}</button
      >
    </h2>
    <ContractionDetails data={allData} {maxDur} {timesArray}/>
  </article>
</ArticleSlot>
{/if}
