<script>
  import { saved } from "./stores";
  import { onMount } from "svelte";

  const emojiList = ["\u{1F911}", "\u{1FAE1}", "\u{1F973}", "\u{1F979}", "\u{1F970}", "\u{1FAE0}", "\u{1F92D}", "\u{1F47D}"];
  let display = "";
  let emoji;
  let text = "";
  onMount(() => {
    display = "";
  });

  $: if ($saved) {
    display = "display";
    emoji = emojiList[Math.floor(Math.random()* emojiList.length)];
    text = "Saved!";
  } else {
    display = "";
  }
</script>

<div class="notification is-warning pt-3 pb-3 {display}">
  <p class="has-text-centered"><em><strong>{text} {emoji}</strong></em></p>
</div>

<style>
  div.notification {
    position: absolute;
    top: 0vh;
    left: 5vw;
    width: 85vw;
    margin: 0 10px 0 10px;
    opacity: 0;
  }

  div.notification.display {
    animation: 1.5s linear 0s fade;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0.5;
    }
    10% {
      opacity: 0.75;
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>
