<script>
  import { seconds, minutes } from "./stores.js";
  export let anim;
</script>

<time>
  <div class="level is-mobile">
    <p class="level-item has-text-centered {anim}">
      {$minutes < 10 ? `0${$minutes}` : $minutes}
    </p>
    <p class="level-item has-text-centered {anim}">:</p>
    <p class="level-item {anim}">{$seconds < 10 ? `0${$seconds}` : $seconds}</p>
  </div>
</time>

<style>
  div {
    justify-content: space-around;
  }

  p.anim_triggered {
    animation: 1s linear 0s flash;
  }

  @media (max-width: 400px) {
    p {
      font-size: 7rem;
    }
  }

  @media (max-width: 600px) {
    p {
      font-size: 7.5rem;
    }
  }
  @media (min-width: 601px) {
    p {
      font-size: 10rem;
    }
  }

  p {
    font-variant-numeric: tabular-nums;
    color: black;
  }

  @keyframes flash {
    0% {
      color: red;
    }
    20% {
      color: black;
    }
    40% {
      color: red;
    }
    60% {
      color: black;
    }
    80% {
      color: red;
    }
    100% {
      color: black;
    }
  }
</style>
