<script>
  import { onMount } from "svelte";
  import { getTimes } from "./localStorage";
  import { saved } from "./stores";
  import { clearStorage } from "./localStorage";
  import Button from "./Button.svelte";
  import Timer from "./Timer.svelte";
  import ErrorDisplay from "./errorDisplay.svelte";
  import DataColumns from "./DataColumns.svelte";
  export let buttons;
  export let anim;

  /**
   * Array of times from local storage
   * @type { array }
   */
  let times = [];

  onMount(() => {
    times = getTimes();
  });

  $: if ($saved || !$saved) {
    times = getTimes();
  }

  const clearData = () => {
    if (confirm("This will delete all data. Proceed?")) {
      clearStorage();
    }
  };
</script>

<div class="container">
  <Timer {anim} />
</div>

<div class="level buttons are-medium">
  {#each buttons as { type, action, style }, id}
    <Button {type} {action} {id} {style} />
  {/each}
</div>

<div class="level data-columns">
  <DataColumns {times}/>
</div>

<div class="level">
  <Button
    type={"Delete Data"}
    action={clearData}
    id={`${Math.random()}`}
    style={"button is-responsive is-danger"}
  />
  <ErrorDisplay />
</div>

<style>
  .level.buttons {
    justify-content: space-evenly;
  }

  @media (min-width: 600px) {
    .level.data-columns {
      display: block;
    }
  }
</style>
