<script>
  import { onMount, onDestroy } from "svelte";
  import { disabled, seconds, minutes, saved } from "./lib/stores.js";
  import Wrapper from "./lib/Wrapper.svelte";
  import { storeTime, localStorageExists } from "./lib/localStorage.js";
  import Notification from "./lib/Notification.svelte";
  let intId;
  let started = false;
  let startTime = 0;
  let endTime = 0;
  let shake = "";
  let anim = "";

  onMount(() => {
    localStorageExists();
    triggerAnim();
  });

  $: if ($seconds > 59) {
    seconds.set(0);
    minutes.update((val) => (val += 1));
  }

  disabled.toggle();

  function incSeconds() {
    seconds.update((val) => (val += 1));
  }

  function triggerAnim() {
    anim = "anim_triggered";
    setTimeout(() => {
      anim = "";
    }, 700);
  }

  function start() {
    if (typeof intId === "number") {
      return;
    }

    triggerAnim();
    intId = setInterval(incSeconds, 1000);
    started = true;
    disabled.toggle();
    startTime = Date.now();
    saved.setFalse();
  }

  function doShake() {
    shake = "shake";
    setTimeout(() => {
      shake = "";
    }, 200);
  }

  function stop() {
    if (!started) {
      return;
    }

    minutes.set(0);
    seconds.set(0);
    clearInterval(intId);
    intId = null;
    disabled.toggle();
    started = false;
  }

  function reset() {
    doShake();
    stop();
    start();
  }

  function writeAndStop() {
    if (!started) {
      return;
    }
    endTime = Date.now();
    storeTime(startTime, endTime);
    saved.setTrue();
    stop();
  }

  const buttons = [
    { type: "Start", action: start, style: "button is-responsive is-primary" },
    {
      type: "Stop",
      action: writeAndStop,
      style: "button is-responsive is-warning",
    },
    { type: "Reset", action: reset, style: "button is-responsive is-danger" },
  ];

  onDestroy(() => {
    clearInterval(intId);
  });
</script>

<div class="column is-desktop {shake}">
  <Notification />
  <section class="is-full hero is-small is-justify-content-flex-start pb-0">
    <div class="hero-body pb-0">
      <h1 class="title is-1">Contraction Timer</h1>
      <p class="subtitle {anim}">Let's time this bitch.</p>
    </div>
  </section>

  <main class="column">
    <div class="container">
      <Wrapper {buttons} {anim} />
    </div>
  </main>
</div>

<style>

  div.columns {
    margin: auto;
    max-width: 500px;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .subtitle.anim_triggered {
    animation: 0.7s linear 0s moveShadow, 0.5s linear 0s shake;
  }

  main {
    padding: 0 2.25rem 1rem 2.25rem;
  }

  div.shake {
    animation: shake 0.2s cubic-bezier(0.345, 0.97, 0.88, 1.535);
  }

  @keyframes shake {
    0% {
      transform: translateX(-6px);
    }
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateX(4px);
    }
    60% {
      transform: translateY(5px);
    }
    80% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes moveShadow {
    0% {
      text-shadow: 5px -10px #000000, -5px 10px #000000;
    }
    10% {
      text-shadow: -1px 4px #000000, 2px -14px #000000;
    }
    20% {
      text-shadow: -3px -7px #000000, 2px 4px #000000;
    }
    30% {
      text-shadow: -1px 4px #000000, 2px -14px #000000;
    }
    40% {
      text-shadow: 5px -10px #000000, -5px 10px #000000;
    }
    50% {
      text-shadow: -3px -7px #000000, 2px 4px #000000;
    }
    60% {
      text-shadow: -3px 15px #000000, 10px -6px #000000;
    }
    70% {
      text-shadow: 5px -10px #000000, -5px 10px #000000;
    }
    80% {
      text-shadow: -5px 10px #000000, 1px 2px #000000;
    }
    90% {
      text-shadow: -1px 4px #000000, 2px -14px #000000;
    }
    100% {
      text-shadow: 0px 0px #000000, 0px 0px #000000;
    }
  }
</style>
